* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .parallax {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
  }
  
  .bg1 {
    background-image: url("https://ilovewallpaper.com/cdn/shop/files/1-ILW50130-Midnight-tropics-wallpaper-version-blue-Lighter_WEB.webp?crop=center&height=886&v=1737041714&width=886");
  }
  
  .blackbox {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
  }
  
  .bg2 {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/600/919/630/digital-art-illustration-lofi-hd-wallpaper-preview.jpg");
  }
